@import url('../../index.css');

.wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.container {
    display: flex;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    justify-content: space-evenly;
    flex-wrap: wrap;
    text-align: center;
    padding: 1.5rem;
    margin: 2rem;
    width: 50%;
    transition: 1s;
}

.container:hover {
    box-shadow: 0 4px 8px rgb(45, 50, 60);
    transition: 1s;
}

.profile {
    height: fit-content;
    width: fit-content;
    margin: 10px;
}

.content>p:nth-child(1) {
    font-family: 'Europa', sans-serif;
    font-size: 3rem;
    cursor: default;
}

.content>p {
    font-family: 'Poppins', sans-serif;
    font-size: larger;
}

.content>p:nth-child(3)>a {
    text-decoration: none;
    color: #000;
}

.content>p>a:hover {
    color: #7510F7;
    transition: .5s;
}

.subContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 1.5rem;
}

.subContent {
    font-family: 'Europa';
    font-size: x-large;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
    margin: 0 20px;
}

.myContent {
    display: flex;
    flex: 1;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    padding: 2rem;
    box-shadow: 0 4px 8px 10px whitesmoke;
    border-radius: 16px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: #fff;
    background-color: #2D3246;
}

.tech-stack {
    flex: 1;
    padding: 1rem 2.5rem;
    text-align: center;
}

#javascript {
    height: 60px;
    width: 60px;
}

#php,
#mysql {
    height: 100px;
    width: 100px;
    margin: 0 10px;
}

#mysql {
    transform: translateY(-5px);
}

#laravel {
    width: 100%;
    height: 100px;
    margin: 0;
}

.tech-stack>div>img {
    height: 55px;
    width: 55px;
}

.web,
.mern {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 2rem 0px;
}

.whatIDo {
    font-family: 'Eurostile';
    font-weight: bold;
    font-size: xx-large;
}

.whatBox>img {
    padding: 10px;
    transform: translateY(14px);
    height: 45px;
    width: 45px;
}

.whatBox {
    background-color: #5BE9B9;
    width: 101px;
    height: 97px;
    border-radius: 100%;
}

.subContainer {
    text-align: center;
}

.subContainer>p {
    background-color: rgba(45, 50, 70, 2);
    padding: 2rem;
    font-size: large;
    color: #fff;
    margin: 10px;
    border-radius: 20px;
    font-family: 'Eurostile';
}

#happyIcon {
    margin: 20px;
    height: 50px;
    width: 50px;
    background-color: #fff;
    border-radius: 100%;
}

hr {
    width: 65%;
}

@media only screen and (max-width: 600px) {
    .container {
        margin: 2rem 0;
        padding: 20px;
        width: 75%;
    }

    .subContent {
        gap: 2rem;
        margin: 0;
    }

    .myContent {
        padding: 1rem;
        flex: unset;
        margin: 0 10px;
    }

    hr {
        width: 100%;
    }
}