@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

* {
    scroll-behavior: smooth;
}

body {
    background-color: #8BC6EC;
    background-image: linear-gradient(90deg, #8BC6EC 0%, #9599E2 100%);
}

.card {
    scroll-behavior: smooth;
    margin: 2rem 1rem;
    border-radius: 1rem;
    box-shadow: 0 12px 15px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.navbar {
    font-family: 'Europa', "sans-serif";
    font-size: 1.4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgb(45, 50, 60);
    color: white;
    padding: 1.25rem;
    border-radius: 1rem;
}

.menuBtn {
    display: none;
}

.bar1,
.bar2,
.bar3 {
    background-color: #fff;
    height: 1px;
    width: 25px;
    margin: 6px 0;
    transition: .4s;
}

.linksContainer {
    display: flex;
    place-items: center;
}

.welcome {
    font-family: 'Eurostile', sans-serif;
    font-size: x-large;
}

.welcome:hover {
    color: #8bc6ec;
    transition: 1s;
    cursor: pointer;
}

.links {
    margin: 0 16px;
    text-decoration: none;
    color: #fff;
}

.links:hover {
    transition: .2s;
    /* color: #8bc6ec; */
    border-bottom: 1px solid #fff;
    border-bottom-style: dashed;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contactContainer {
    padding: 1rem 2rem;
    margin: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #e7e7e7;
    box-shadow: 0 4px 8px darkgrey;
}

.contactContainer>a,
.socialContainer>a {
    text-decoration: none;
    font-size: x-large;
    margin-top: 10px;
    color: rgb(45, 50, 60);
    font-family: Poppins;
}

.socialContainer>a:hover {
    color: mediumvioletred;
    transition: 0.2s;
}

.contactContainer>span {
    font-size: 3rem;
}

.socialContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    padding: 1rem 2rem;
    border: 1px solid #e7e7e7;
    box-shadow: 0 4px 8px darkgrey;
    width: fit-content;
}

.imageContainer>img {
    margin: 0.5rem 0.5rem;
    height: 2rem;
    width: 2rem;
}

@media only screen and (max-width: 420px) {

    html {
        height: 100%;
    }

    body {
        margin: 0;
    }

    .navbar {
        border-radius: 0 0 16px 16px;
    }
}

@media only screen and (max-width: 599px) {
    .linksContainer {
        flex-direction: column;
        margin: 8px;
    }

    .links {
        margin: 10px;
    }

    .navbar {
        display: flex;
        flex-direction: column;
    }

    .welcome {
        text-align: center;
    }

    :active,
    .bar1,
    .bar2,
    .bar3 {
        transform: none;
    }

    .menuBtn {
        display: grid;
        place-items: end;
    }

    .menu:hover>.bar1 {
        transform: rotate(-45deg);
        height: 2px;
    }

    .menu:hover>.bar2 {
        opacity: 0;
    }

    .menu:hover>.bar3 {
        transform: rotate(45deg) translate(-10px, -10px);
        height: 2px;
    }

}

@media only screen and (max-width: 870px) {

    .card {
        margin: auto;
    }

    .container {
        margin: 25px;
    }

    .container>p:nth-child(3) {
        font-size: large;
    }

    .profile {
        flex-wrap: wrap;
    }
}